.navigationbar{
    font-size: 1.2rem;
    font-family: "Italiana", serif;
    font-weight: 600;
    font-style: normal;
    justify-content: flex-end;
    padding 10px;
}
.navigationbar a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
}

body {
    background-color:cornsilk;
    font-family: "Italiana", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

p{
    color: black;
    font-family: "Italiana", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

}

h1{
    color: black;
    text-align: center;
    font-family: "Italiana", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
}
form {
    display: flex;
    flex-direction: column;
}

.form-container{
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    background-color:cornsilk;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}


footer{
    font-size: .5rem;
    color: black;
}